---
layout: html
---
<head>
    {% block "head" %}
    <meta charset="UTF-8">
    <title>Document</title>
    {% endblock %}
  </head>
  <body>
    <section>
      {% block "content" %}
      Default body.
      {% endblock %}
    </section>
    <footer>
      {% block "footer" %}
      Default footer.
      {% endblock %}
    </footer>
  </body>